alembic==1.0.0
apipkg==1.5
atomicwrites==1.1.5
attrs==18.1.0
Babel==2.6.0
blinker==1.4
certifi==2018.8.13
chardet==3.0.4
click==6.7
colorama==0.3.9
configparser==3.5.0
coverage==4.5.1
crayons==0.1.2
decorator==4.3.0
defusedxml==0.5.0
execnet==1.5.0
Flask==1.0.2
Flask-Babel==0.11.2
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-Migrate==2.2.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.3.2
Flask-WhooshAlchemy==0.56
Flask-WTF==0.14.2
flipflop==1.0
guess-language==0.2
idna==2.7
itsdangerous==0.24
Jinja2==2.10
Mako==1.0.7
MarkupSafe==1.0
more-itertools==4.3.0
pbr==4.2.0
pluggy==0.7.1
py==1.5.4
pytest==3.8.2
pytest-base-url==1.4.1
pytest-forked==0.2
pytest-html==1.19.0
pytest-metadata==1.7.0
pytest-selenium==1.14.0
pytest-variables==1.7.1
pytest-xdist==1.22.5
python-dateutil==2.7.3
python-editor==1.0.3
python3-openid==3.1.0
pytz==2018.5
requests==2.19.1
selenium==3.14.1
six==1.11.0
SQLAlchemy==1.2.10
sqlalchemy-migrate==0.11.0
sqlparse==0.2.4
Tempita==0.5.2
urllib3==1.23
virtualenv==16.0.0
webdriver-manager==1.7
Werkzeug==0.15.3
Whoosh==2.7.4
WTForms==2.2.1
